@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Контактная информация</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Наш адрес:</h5>
                <p class="card-text">г. Челябинск, ул. Воровского, 6 (ТРК «Урал» 3 этаж)</p>
                
                <h5 class="card-title mt-4">Телефон:</h5>
                <p class="card-text">8 (904) 933-99-11</p>
                
                <h5 class="card-title mt-4">Email:</h5>
                <p class="card-text">sotcomm174@mail.ru</p>
                
                <h5 class="card-title mt-4">Часы работы:</h5>
                <p class="card-text">Время работы: с 10-00 до 22-00</p>
            </div>
        </div>
    </div>
</div>