@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Добро пожаловать в наш специализированный игровой интернет-магазин SOTCOMM</h4>
            <p>ВАШ ПРОВОДНИК В ВИРТУАЛЬНЫЙ МИР</p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h3>Почему выбирают нас?</h3>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Более 10000 товаров</h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">
                    Быстро, качественно и с гарантией активируем Вам подписки PlayStation Plus, Xbox Game Pass, а так же добавим любые игры PS4 | PS5 | Xbox
                </h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Только у нас 100% гарантия возврата денег (если что-то пойдет не так - вернем деньги)</h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-6 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Реальная экономия - скидки до 80%</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                Специальное предложение!
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    При покупке любого товара от 500р идёт целых 3 ПОДАРКА НА ВАШ ВЫБОР,
                    один из которых наушники Monster Beats!
                </h5>
                <a href="/Home/Products" class="btn btn-primary">Перейти к покупкам</a>
            </div>
        </div>
    </div>
</div>